.section
{
    padding: 100px 200px;
}

.header{
    display: flex;
    background-color: #1F2937;
    margin: 0;
    justify-content: space-between;
    padding: 30px 200px;
}

.section.hero{
    background-color: #1F2937;
    
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}


.section > div > .title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 15px;
    color: #a8aaaf;
    padding-bottom: 10px;
}

.section.info  > .title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 15px;
}

.info-cards{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}

.card{
    width: 150px;
}

.card > img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section.quote{
    background-color: #e5e7eb;
}


.section.cta > div{
    background-color: #3882F6;
    padding: 30px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.cta-button{
    border: 1px solid #F9FAF8;
    align-self: center;
}



.section.cta > div > .cta > div.title{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding-bottom: 10px;
}

p.quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quotee{
    font-weight: bold;
    font-size: 24px;
    color: black;
    text-align: right;
}

.section.info,
.section.quote{
    padding: 100px 300px;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    font-size: medium;
    padding: 30px 200px;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 10px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882F6;
    padding: 5px 25px;
    color: #F9FAF8;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}